nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 83vw;
  height: 40px;

  .searchContainer {
    width: 80vw;
    height: 100%;
    display: contents;

    .searchContainer__internal {
      width: 30%;
      height: 100%;
      min-width: 330px;
      display: flex;
      align-items: center;

      .searchVideos {
        width: 85%;
        height: 100%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border: none;
        border-bottom: 2px solid black;
        background-color: rgb(255 255 255 / 3%);
        color: white;
        font-size: medium;
        outline: none;
        padding-left: 10px;

        &:focus {
          border-bottom-color: blue;
        }

        &::placeholder {
          color: gray;
        }
      }

      .iconSearchVideos {
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgb(53, 53, 53);
        width: 15%;
        height: 100%;
        color: white;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        // cursor: pointer;

        &:hover {
          background: #5f5e5e;
        }

        span {
          width: 100%;
        }
      }
    }
  }

  @media (max-width: 1024px) {
    position: absolute;
    z-index: 99;
  }
}
